# OpenSSL Configuration File

nodejs_conf = openssl_init

[openssl_init]
ssl_conf = ssl_sect

[ssl_sect]
system_default = system_default_sect

[system_default_sect]

# Allow legacy renegotiation due to some outdated clients
Options = UnsafeLegacyRenegotiation
