{
	"openapi": "3.0.1",
	"info": {
		"title": "Block API",
		"version": "1.0.0"
	},
	"servers": [
		{
			"url": "https://geo.fcc.gov/api/census"
		}
	],
	"tags": [
		{
			"name": "block",
			"description": "get census block, county, and state FIPS"
		}
	],

	"paths": {
		"/block/find": {
			"get": {
				"tags": ["block"],
				"summary": "Get FIPS by latitude and longitude",
				"description": "Get census block, county, and state FIPS based on latitude/longitude input.",
				"parameters": [
					{
						"name": "latitude",
						"in": "query",
						"description": "Latitude [-90 90] in decimal or DMS (degrees:minutes:seconds)<br>Examples: 38.26 or 38:15:36N",
						"required": true,
						"schema": {
							"type": "number"
						}
					},
					{
						"name": "longitude",
						"in": "query",
						"description": "Longitude [-180 180] in decimal or DMS (degrees:minutes:seconds)<br>Examples: -77.51 or 77:30:36W",
						"required": true,
						"schema": {
							"type": "number"
						}
					},
					{
						"name": "censusYear",
						"in": "query",
						"description": "Returns results based on census year.<br><b>Valid values:</b> 2010 or 2020 (default)",
						"required": true,
						"schema": {
							"type": "number",
							"default": 2020
						}
					},
					{
						"name": "showall",
						"in": "query",
						"description": "If the coordinate lies on the boundary of multiple geographies, for a complete list use showall=true.",
						"schema": {
							"type": "boolean"
						}
					},
					{
						"name": "format",
						"in": "query",
						"description": "Format for the returned results.<br /><br />Defaults to xml.",
						"schema": {
							"type": "string",
							"default": "xml",
							"enum": ["xml", "json", "jsonp"]
						}
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"content": {}
					}
				}
			}
		},
		"/area": {
			"get": {
				"tags": ["area"],
				"summary": "Get area by latitude and longitude",
				"description": "Get census block, county, state, and market area information based on latitude/longitude input.",
				"parameters": [
					{
						"name": "lat",
						"in": "query",
						"description": "Latitude [-90 90] in decimal or DMS (degrees:minutes:seconds)<br>Examples: 38.26 or 38:15:36N",
						"required": true,
						"schema": {
							"type": "number"
						}
					},
					{
						"name": "lon",
						"in": "query",
						"description": "Longitude [-180 180] in decimal or DMS (degrees:minutes:seconds)<br>Examples: -77.51 or 77:30:36W",
						"required": true,
						"schema": {
							"type": "number"
						}
					},
					{
						"name": "censusYear",
						"in": "query",
						"description": "Returns results based on census year.<br><b>Valid values:</b> 2010 or 2020 (default)",
						"required": true,
						"schema": {
							"type": "number",
							"default": 2020
						}
					},
					{
						"name": "format",
						"in": "query",
						"description": "Format for the returned results.<br /><br />Defaults to json.",
						"schema": {
							"type": "string",
							"default": "json",
							"enum": ["json", "jsonp", "xml"]
						}
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"content": {}
					}
				}
			}
		}
	},
	"components": {
		"responses": {}
	},
	"x-original-swagger-version": "2.0"
}
